doctype html
html(lang='en')
    head
        include blocks/header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.container
            div.forSlideMenu
                div.cabinetHolder
                    
                    include blocks/sidebar.pug

                    div.workArea.jsWorkArea
                        div.mobileMenuBtn
                            button.cmn-toggle-switch.cmn-toggle-switch__htx
                                span toggle menu

                        div.messageTop Unfortunately your profile is not verified yet.

                        div.scrollHolder
                            div.content#buyTokens
                                
                                

                                
                                
                                
                                div.blockHolder
                                    div.raisedContainer.basicBlock--settings
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                div.basicBlock__title.text-left Settings

                                                .row 
                                                    .col-md-4
                                                        .avatarSettings 
                                                            .avatarSettings__imageHolder
                                                                img.avatarSettings__image(src='../img/avatar-big.jpg')
                                                                form.icoForm.icoForm--noMargin(action='#' method='post' enctype='multipart/form-data')
                                                                    label.avatarSettings__uploadBtn(for='avatarUpload') 
                                                                        input(type='file' id="avatarUpload" name='avatarUpload' value='' class='hiddenInput')
                                                            .avatarSettings__note Upload photo not more than 1mb 

                                                    .col-md-4
                                                        form(class="icoForm icoForm--noMargin" action="#")
                                                            div.formControl.formControl--noMargin
                                                                label.icoForm__label Name
                                                                input(type="text" name="name" class="icoForm__input" value="Name Name") 

                                                            div.formControl
                                                                label.icoForm__label Email
                                                                input(type="text" name="email" disabled class="icoForm__input" value="email@email.com") 

                                                        .settingsActions
                                                            a.settingsActions__link.jsChangeEmail(href='#') Change e-mail    
                                                            a.settingsActions__link.jsChangePassword(href='#') Change password

                                                            .settingsActions__langSelector
                                                                span.settingsActions__langSelectorBtn RU
                                                                span.settingsActions__langSelectorBtn.settingsActions__langSelectorBtn--active ENG

                                                    .col-md-4
                                                            form(class="icoForm changePassword icoForm--noMargin hidden" action="#")
                                                                            div.formControl.formControl--noMargin
                                                                                label.icoForm__label Old password
                                                                                input(type="password" name="name" class="icoForm__input" value="Name Name") 

                                                                            div.formControl
                                                                                label.icoForm__label New password
                                                                                input(type="password" name="name" class="icoForm__input" value="Name Name") 

                                                                            div.formControl
                                                                                label.icoForm__label Repeat password
                                                                                input(type="password" name="name" class="icoForm__input" value="Name Name") 
                                                            
                                                            
                                                            form(class="icoForm changeEmail icoForm--noMargin hidden" action="#")
                                                                            div.formControl.formControl--noMargin
                                                                                label.icoForm__label Your email
                                                                                input(type="email" name="oldEmail" class="icoForm__input" value="Name Name") 

                                                                            div.formControl
                                                                                label.icoForm__label New email
                                                                                input(type="email" name="email" class="icoForm__input" value="Name Name" required) 

                                                                            div.formControl
                                                                                label.icoForm__label Password
                                                                                input(type="password" name="name" class="icoForm__input" value="Name Name") 

                            
                            
                                                    
                                                    
                                                

                                               
        include blocks/footerScripts.pug
