doctype html
html(lang='en')
    head
        include header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.login.modalFrame
            div.modalFrame__title Forgot your password
            div.modalFrame__subtitle.modalFrame__subtitleMargin Check your e-mail for recovering letter
            
            form(class="loginForm icoForm" action="#")

               


               
                   

                div.formControl.text-center
                    button(name="submit" class="btn btn--small") Ok

           
                
          
        


        include footerScripts.pug
