doctype html
html(lang='en')
    head
        include header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.login.modalFrame
            div.modalFrame__title Forgot your password
            
            form(class="loginForm icoForm" action="#")

               


                div.formControl
                    label.icoForm__label E-mail
                    input(type="email" name="login" class="icoForm__input"  required)

                         
                
                   

                div.formControl
                    button(name="submit" class="btn") Next

           
                
          
        


        include footerScripts.pug
