doctype html
html(lang='en')
    head
        include blocks/header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        


        include blocks/footerScripts.pug
