doctype html
html(lang='en')
    head
        include header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.login.modalFrame.modalMessage
            div.modalFrame__title Your account was successfully verified
            br
           
            
           

               


               
                   

                
            div.formControltext-center
                a(class="btn" href="#") Start investing

           
                
          
        


        include footerScripts.pug
