<div>
  <section class="verification">
    <div class="dataTable">
      <div class="dataTable__list">
        <div class="dataTable__item">
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--lt">Photo</div>
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--lt" @click="sort('id')">Investor ID</div>
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--big" @click="sort('email')">E-mail</div>
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--mid">Confirmed</div>
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--lt">Verified photos</div>
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--lt">KYC</div>
        </div>
        <div class="dataTable__item" v-for="investor in investors">
          <div class="dataTable__cell dataTable__cell--lt">
            <img :src="investor.img ? currentUrl + '/storage/' + investor.img : currentUrl + '/img/avatar.png'"
                 style="max-width: 75px; max-height: 75px;">
          </div>
          <div class="dataTable__cell dataTable__cell--lt">{{ investor.id }}</div>
          <div class="dataTable__cell dataTable__cell--big">{{ investor.email }}</div>
          <div class="dataTable__cell dataTable__cell--mid">{{investor.confirmed ? 'Подтвержден' : 'Не подтвержден'}}</div>
          <div class="dataTable__cell dataTable__cell--lt">
            <button class="btn" @click="showModal(investor.id)">Docs</button>
            <div class="modal" :id="investor.id">
              <div class="modal-background"></div>
              <div class="modal-content">
                <header class="modal__header">
                  <div class="modal__header-user">
                    <div>
                      <img :src="investor.img ? currentUrl + '/storage/' + investor.img : currentUrl + '/img/avatar.png'"
                           style="max-width: 75px; max-height: 75px;">
                    </div>
                    <span>{{ investor.name }}</span>
                  </div>
                  <button class="modal-close is-large" aria-label="close" @click="hideModal(investor.id)"></button>
                </header>
                <main class="modal__main">
                  <swiper ref="awesomeSwiperA" :options="swiperOptionA" v-if="investor.personal.doc_img_path.length !== null">
                    <swiper-slide v-for="item in investor.personal.doc_img_path" :key="item">
                      <img :src="currentUrl + '/storage/' + item" alt="Photo">
                    </swiper-slide>
                    <!-- Optional controls -->
                    <div class="swiper-pagination" slot="pagination"></div>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                  </swiper>
                </main>
                <footer class="modal__footer">
                  <button class="btn" @click="applyKyc(investor.id)">Apply</button>
                  <button class="btn" @click="returnKyc(investor.id)">Return</button>
                </footer>
              </div>
            </div>
          </div>
          <div class="dataTable__cell dataTable__cell--lt">
            <button v-on:click="toggleAddingData(investor.id)" class="btn" data-toggle="collapse" data-target="#demo">More</button>
          </div>
          <transition name="fade">
            <div class="dataTable__item-wrap dataTable__item-wrap--hidden" :id="'hidden-' + investor.id">
              <div class="dataTable__item-hidden">
                <div class="dataTable__cell dataTable__cell--mid">Phone</div>
                <div class="dataTable__cell dataTable__cell--big">Full name</div>
                <div class="dataTable__cell dataTable__cell--mid">Telegram</div>
                <div class="dataTable__cell dataTable__cell--mid">Address</div>
                <div class="dataTable__cell dataTable__cell--mid">Birthday</div>
              </div>
              <div class="dataTable__item-hidden">
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.phone }}</div>
                <div class="dataTable__cell dataTable__cell--big">{{ investor.name }}</div>
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.telegram }}</div>
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.permanent_address }}</div>
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.date_place_birth }}</div>
              </div>
            </div>
          </transition>
        </div>
      </div>
      <div class="helpBar">
        <div class="helpBar__buttons">
          <button class="btn" @click="prevPage()">Previous</button>
          <button class="btn" @click="nextPage()">Next</button>
        </div>
        <div class="helpBar__help-text">
          <p v-model="currentPage">current page: {{ currentPage }}</p>
          <p v-model="totalPages">total pages: {{ totalPages }}</p>
        </div>
        <div class="helpBar__page-select">
          <label for="pageQuantity">Number of elements on the page</label>
          <select v-model="pageSize" name="pageQuantity" id="pageQuantity">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option :value="totalPages">all, {{ totalPages }}</option>
          </select>
        </div>
      </div>
    </div>
  </section>
</div>

