<div>
  <section class="verification">
    <div class="dataTable dataTable--admin">
      <div class="dataTable__list">
        <div class="dataTable__item">
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--mid">Photo</div>
          <div @click="sort('id')" class="dataTable__cell dataTable__cell--head dataTable__cell--lt">
            Investor ID
            <i class="fas fa-arrow-down"></i>
            <i class="fas fa-arrow-up"></i>
          </div>
          <div @click="sort('email')" class="dataTable__cell dataTable__cell--head dataTable__cell--big">
            E-mail
            <i class="fas fa-arrow-down"></i>
            <i class="fas fa-arrow-up"></i>
          </div>
          <div @click="sort('confirmed')" class="dataTable__cell dataTable__cell--head dataTable__cell--mid">
            Confirmed
            <i class="fas fa-arrow-down"></i>
            <i class="fas fa-arrow-up"></i>
          </div>
          <div class="dataTable__cell dataTable__cell--head dataTable__cell--mid">KYC</div>
        </div>
        <div class="dataTable__item" v-for="(investor, key) in sortedItems">
          <div class="dataTable__cell dataTable__cell--mid">
            <img :src="investor.img ? currentUrl + '/storage/' + investor.img : currentUrl + '/img/avatar.png'"
                 style="max-width: 75px; max-height: 75px;">
          </div>
          <div class="dataTable__cell dataTable__cell--lt">{{ investor.id }}</div>
          <div class="dataTable__cell dataTable__cell--big">{{ investor.email }}</div>
          <div class="dataTable__cell dataTable__cell--mid" v-if="investor.confirmed">
	          <p>Confirmed</p>
          </div>
          <div class="dataTable__cell dataTable__cell--mid" v-if="!investor.confirmed">
		          <button class="apply-btn" @click="applyKyc(investor.id, key)">Apply</button>
		          <button class="return-btn" @click="returnKyc(investor.id, key)">Return</button>
          </div>
          <div class="dataTable__cell dataTable__cell--mid">
            <button v-on:click="toggleAddingData(investor.id)" class="btn" data-toggle="collapse" data-target="#demo">More</button>
          </div>
            <div class="dataTable__item-wrap dataTable__item-wrap--hidden" :id="'hidden-' + investor.id">
              <div class="dataTable__item-hidden">
                <div class="dataTable__cell dataTable__cell--mid"><b>Phone</b></div>
                <div class="dataTable__cell dataTable__cell--big"><b>Full name</b></div>
                <div class="dataTable__cell dataTable__cell--mid"><b>Telegram</b></div>
                <div class="dataTable__cell dataTable__cell--mid"><b>Address</b></div>
                <div class="dataTable__cell dataTable__cell--mid"><b>Birthday</b></div>
              </div>
              <div class="dataTable__item-hidden">
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.phone }}</div>
                <div class="dataTable__cell dataTable__cell--big">{{ investor.name }}</div>
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.telegram }}</div>
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.permanent_address }}</div>
                <div class="dataTable__cell dataTable__cell--mid">{{ investor.personal.date_place_birth }}</div>
              </div>
            </div>
        </div>
      </div>
      <div class="helpBar">
        <div class="helpBar__buttons">
          <button class="btn" @click="prevPage()">Previous</button>
          <button class="btn" @click="nextPage()">Next</button>
        </div>
        <div class="helpBar__help-text">
          <p v-model="currentPage">current page: {{ currentPage }}</p>
          <p v-model="totalPages">total investors: {{ totalPages }}</p>
        </div>
        <div class="helpBar__page-select">
          <label for="pageQuantity">Number of elements<br> on the page</label>
          <br>
          <select v-model="pageSize" name="pageQuantity" id="pageQuantity">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option :value="totalPages" selected>all, {{ totalPages }}</option>
          </select>
        </div>
        <div class="helpBar__checked-confirm">
          <input type="checkbox" v-model="checkedConfirmed" @click="checkBoxClick" :value="0" checked/>  Not confirmed
          <br>
          <input type="checkbox" v-model="checkedConfirmed" @click="checkBoxClick" :value="1" checked/>  Confirmed
        </div>
      </div>
    </div>
  </section>
</div>

