<div class="dataTable">
  <table class="dataTable__list">
    <tr>
      <th>Investor ID</th>
      <th>Action</th>
      <th>Old info</th>
      <th>New info</th>
      <th>date</th>
    </tr>
    <div v-for="(history, investorId) in histories">
      <tr class="dataTable__success" v-for="(action, actionKey) in history">
        <td>{{ investorId }}</td>
        <td>{{ actionKey }}</td>
        <td>{{ action[0] }}</td>
        <td>{{ action[1] }}</td>
        <td>{{ action[2] }}</td>
      </tr>
    </div>
  </table>
</div>

