<div class="dataTable">
  <table class="dataTable__list">
    <tr>
      <th @click="sort('investor_id')">Investor ID</th>
      <th @click="sort('action')">Action</th>
      <th @click="sort('info_1')">Old info</th>
      <th @click="sort('info_2')">New info</th>
      <th @click="sort('date')">Date</th>
    </tr>
    <tr v-for="history in sortedItems">
      <td>{{ history.investor_id }}</td>
      <td>
        {{renameAction(history.action)}}
      </td>

      <td>{{ cutInfo(history, history.action)['info_1'] }}</td>
      <td>{{ cutInfo(history, history.action)['info_2'] }}</td>
      <td>{{ history.date }}</td>
    </tr>
  </table>
  <div class="helpBar">
    <div class="helpBar__buttons">
      <button class="btn" @click="prevPage()">Previous</button>
      <button class="btn" @click="nextPage()">Next</button>
    </div>
    <div class="helpBar__help-text">
      <p v-model="currentPage">current page: {{ currentPage }}</p>
      <p v-model="totalPages">total pages: {{ totalPages }}</p>
    </div>
    <div class="helpBar__page-select">
      <label for="pageQuantity">Number of elements on the page</label>
      <select v-model="pageSize" name="pageQuantity" id="pageQuantity">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option :value="totalPages">all, {{ totalPages }}</option>
      </select>
    </div>
  </div>
</div>

