div.sidebar.jsSidebar
                        div.userInfo
                            div.userInfo__avatar
                                a(href='#' class='userInfo__avatarLink')
                                    img(src='img/avatar.jpg' alt='Name Surname' class='userInfo__avatarImage')

                            div.userInfo__text
                                div.userInfo__textItem Name Surname
                                div.userInfo__textItem Status: Not verified
                                div.userInfo__textItem Token amount: 876 LSD

                        div.mainMenu 
                            ul.mainMenu__list
                                li.mainMenu__item
                                    a(href='cabinetIco1.html' class='mainMenu__link') ICO

                                li.mainMenu__item.mainMenu__item--active
                                    a(href='cabinetKYC.html' class='mainMenu__link') Verification

                                li.mainMenu__item
                                    a(href='cabinetBuyTokens.html' class='mainMenu__link') Buy tokens
                                
                                li.mainMenu__item
                                    a(href='cabinetReferral.html' class='mainMenu__link') Referral Program

                                li.mainMenu__item
                                    a(href='cabinetSettings.html' class='mainMenu__link') Settings

                                
