.cryptoSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    &:active,
    &:focus {
      outline: none;
    }
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 100px;
    border: 1px solid $yellow5;
    background: transparent;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    height: 45px;
    padding: 10px 60px;
    color: $grey1;
    &:hover {
      background: linear-gradient(90deg, $yellow5 0%, $yellow6 76.95%);
      color: $white;
    }
  }
  &__item--active {
    background: linear-gradient(90deg, $yellow5 0%, $yellow6 76.95%);
    color: $white;
  }
}

.qrCode {
  max-width: 200px;
  width: 100%;
}

.minumudDeposit {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: $grey1;
  margin: 8px 0;
}

.setGas {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: $yellow3;
}

.infoBtn {
  margin: 20px 0;
  text-align: center;
  .btn {
    @media #{$mobile} {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
    }
  }
}

.smallText {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

.calculation-wrapper {
    @extend %fc;
    width: 100%;

    &__left, &__right {
        .formControl{
            width: 90%;
        }

        .icoForm__input{
            margin-bottom: 0.5rem;
        }

        .icoForm__label{
           font-weight: 500;
        }
    }

    &__left{
        @extend %fsbc;
        width: 100%;
    }

    &__right{
        @extend %fsbc;
        width: 100%;
    }
}
