.avatarSettings {
  &__uploadBtn {
    cursor: pointer;
    position: absolute;
    bottom: -8px;
    height: 50px;
    width: 100%;
    background: url(/img/pencil-edit-button.svg) no-repeat 50% 50% rgba(224, 224, 224, 0.93);
    background-size: 20px;
  }
  &__image {
    width: 100%;
  }
  &__imageHolder {
    position: relative;
    overflow: hidden;
  }
  &__note {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    font-size: 14px;
    color: #BDBDBD;
  }
}

.hiddenInput {
  display: none;
}

.icoForm--noMargin {
  margin: 0;
  padding: 0;
}

.settingsActions {
  &__link {
    display: block;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-decoration-line: underline;
    color: #F2C94C;
    margin: 7px 0;
  }
  &__langSelector {
    margin-top: 40px;
  }
  &__langSelectorBtn {
    background: #E0E0E0;
    display: inline-block;
    margin: 0 5px;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #BDBDBD;
    padding: 3px 6px;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__langSelectorBtn--active {
    background: #F2C94C;
    color: #fff;
  }
}

.basicBlock--settings {
  min-width: 66%;
  @media(max-width: 767px) {
    min-width: 0;
  }
}

.hidden {
  display: none;
}