doctype html
html(lang='en')
    head
        include blocks/header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.container
            div.forSlideMenu
                div.cabinetHolder
                    include blocks/sidebar.pug   

                                



                    div.workArea.jsWorkArea
                        div.mobileMenuBtn
                            button.cmn-toggle-switch.cmn-toggle-switch__htx
                                span toggle menu

                        div.messageTop Unfortunately your profile is not verified yet.

                        div.scrollHolder
                            div.content
                                div.blockHolder
                                    div.timerContainer
                                        div.basicBlock
                                            div.basicBlock__content 
                                                div.basicBlock__title pre-sale ends in
                                                div.timer
                                                    div.timer__number.jsTimerDays 
                                                        div.timer__numberValue 10
                                                        div.timer__numberTitle days
                                                    
                                                    div.timer__dots 

                                                    div.timer__number.jsTimerHours 
                                                        div.timer__numberValue 10
                                                        div.timer__numberTitle hours

                                                    div.timer__dots                                                        

                                                    div.timer__number.jsTimerHours 
                                                        div.timer__numberValue 10
                                                        div.timer__numberTitle hours

                                    div.raisedContainer 
                                        div.basicBlock
                                            div.basicBlock__content 
                                                div.basicBlock__title totalLy raised

                                                div.percentBar(data-percent='90') 
                                                    
                                                    span.percentBar__fill
                                                    span.percentBar__marker
                                                    span.percentBar__number 
                                                div.raisedSlider
                                                    div.owl-carousel.owl-theme
                                                        
                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/eth.svg' alt="eth") 
                                                            span.raisedSlider__itemValue 78 ETH

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/btc.svg' alt="btc") 
                                                            span.raisedSlider__itemValue 26 BTC

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/paypal.svg' alt="paypal") 
                                                            span.raisedSlider__itemValue 702 000 000 $
                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/eth.svg' alt="eth") 
                                                            span.raisedSlider__itemValue 78 ETH

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/btc.svg' alt="btc") 
                                                            span.raisedSlider__itemValue 26 BTC

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/paypal.svg' alt="paypal") 
                                                            span.raisedSlider__itemValue 702 000 000 $
                                
                                
                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content.basicBlock__content--preICO
                                                div.basicBlock__title.text-center.basicBlock__title--vertical pre-ico starts at 27.09.18
                                
                                
                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                div.basicBlock__title.text-center pre-sale

                                                div.percentBar(data-percent='30') 
                                                    
                                                    span.percentBar__fill
                                                    span.percentBar__marker
                                                    span.percentBar__number 
                                                
                                                div.period
                                                    div.period__from  from  23.08.2018
                                                    div.period__to  till  23.08.2018

                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                div.basicBlock__title.text-center ico is finished

                                                div.percentBar(data-percent='100') 
                                                    
                                                    span.percentBar__fill
                                                    span.percentBar__marker
                                                    span.percentBar__number 
                                                
                                                div.period
                                                    div.period__from  from  23.08.2018
                                                    div.period__to  till  23.08.2018

                                
                                
                                
                                
                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                div.basicBlock__title totalLy raised

                                                div.percentBar(data-percent='90') 
                                                    
                                                    span.percentBar__fill
                                                    span.percentBar__marker
                                                    span.percentBar__number 
                                                div.raisedSlider
                                                    div.owl-carousel.owl-theme
                                                        
                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/eth.svg' alt="eth") 
                                                            span.raisedSlider__itemValue 78 ETH

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/btc.svg' alt="btc") 
                                                            span.raisedSlider__itemValue 26 BTC

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/paypal.svg' alt="paypal") 
                                                            span.raisedSlider__itemValue 702 000 000 $
                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/eth.svg' alt="eth") 
                                                            span.raisedSlider__itemValue 78 ETH

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/btc.svg' alt="btc") 
                                                            span.raisedSlider__itemValue 26 BTC

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/paypal.svg' alt="paypal") 
                                                            span.raisedSlider__itemValue 702 000 000 $
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                div.blockHolder
                                    div.timerContainer
                                        div.basicBlock
                                            div.basicBlock__content 
                                                div.basicBlock__title Round info
                                                div.basicBlock__text 
                                                    p Cap: 250 ETH
                                                    p Hard Cap: 770 ETH
                                                    p Minimum deposit amount: 0.1 ETH
                                                    br
                                                    p 1 ETH = 13000 TGF

                                

                                
                                                

                                    div.raisedContainer 
                                        div.basicBlock
                                            div.basicBlock__content 
                                                div.basicBlock__title raised during pre-sale
                                                

                                                
                                                div.raisedSlider
                                                    div.owl-carousel.owl-theme
                                                        
                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/eth.svg' alt="eth") 
                                                            span.raisedSlider__itemValue 78 ETH

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/btc.svg' alt="btc") 
                                                            span.raisedSlider__itemValue 26 BTC

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/paypal.svg' alt="paypal") 
                                                            span.raisedSlider__itemValue 702 000 000 $
                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/eth.svg' alt="eth") 
                                                            span.raisedSlider__itemValue 78 ETH

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/btc.svg' alt="btc") 
                                                            span.raisedSlider__itemValue 26 BTC

                                                        div.raisedSlider__item
                                                            img.raisedSlider__itemImage(src='img/paypal.svg' alt="paypal") 
                                                            span.raisedSlider__itemValue 702 000 000 $
                                                
                                                        
                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                    div.basicBlock__title.text-center deposit amount Bonuses
       
                                                    div.bonuses
                                                        div.row
                                                            div.col-md-3    
                                                                div.bonuses__item
                                                                    div.bonuses__itemTitle 1 ETH
                                                                    div.bonuses__itemCaption  Bonus
                                                                    div.bonuses__itemValue 10% 
                                                                
                                                            div.col-md-3    
                                                                div.bonuses__item
                                                                    div.bonuses__itemTitle 4 ETH
                                                                    div.bonuses__itemCaption  Bonus
                                                                    div.bonuses__itemValue 15% 

                                                            div.col-md-3    
                                                                div.bonuses__item
                                                                    div.bonuses__itemTitle 8 ETH
                                                                    div.bonuses__itemCaption  Bonus
                                                                    div.bonuses__itemValue 20% 

                                                            div.col-md-3    
                                                                div.bonuses__item
                                                                    div.bonuses__itemTitle 10 ETH
                                                                    div.bonuses__itemCaption  Bonus
                                                                    div.bonuses__itemValue 25%

                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content
                                                
                                                div.basicBlock__title.text-center Token Distribution
                                                div.row
                                                    div.col-lg-8.align-self-center
                                                        canvas(id='tokenChart' )
                                                    div.col-lg-4.align-self-center    
                                                        <div id="js-legend" class="legend-con chart-legend"></div>
                                                     
        include blocks/footerScripts.pug
