doctype html
html(lang='en')
    head
        include blocks/header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.container
            div.forSlideMenu
                div.cabinetHolder
                    
                    include blocks/sidebar.pug

                    div.workArea.jsWorkArea
                        div.mobileMenuBtn
                            button.cmn-toggle-switch.cmn-toggle-switch__htx
                                span toggle menu

                        div.messageTop Unfortunately your profile is not verified yet.

                        div.scrollHolder
                            div.content
                                
                                
                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                div.basicBlock__title.text-center WHITE PAPER CONDITIONS
                                                div.basicBlock__subtitle.text-center please read the white paper and agree to the proposed conditions
                                                div.btnConainer.text-center
                                                    a.btn.btn--whitePaper.btn--small(href='#' target='_blank') Read the white paper


                                                div.agreement.text-center
                                                    input(type='checkbox' name='agreement' id='agreement' class='checkbox')
                                                    label(for='agreement') I agree with the terms of use

                                div.blockHolder
                                    div.raisedContainer 
                                        div.basicBlock.basicBlock--single
                                            div.basicBlock__content 
                                                form.icoForm(action='#' method='post' enctype='multipart/form-data')
                                                    div.row
                                                        div.col-md-4
                                                            div.dropzone.clearfix
                                                                .wrapper
                                                                    .drop
                                                                        .cont
                                                                            .tit
                                                                                img(src='img/plus.svg' alt='add')
                                                                            .desc Drag and drop the image of your ID accepted formats: jpg, jpeg, png, svg, pdf, zip, rar
                                                                        output#list
                                                                        input#files(multiple='true' name='files[]' type='file')
                                                                    
                                                                    
                                                                    
                                                                    
                                                                

                                                        div.col-md-4
                                                            div.formControl
                                                                label.icoForm__label Full name
                                                                input(type="text" name="name" class="icoForm__input"  required)

                                                            div.formControl
                                                                label.icoForm__label Phone
                                                                input(type="text" name="phone" class="icoForm__input"  required)   

                                                        div.col-md-4
                                                            div.formControl
                                                                label.icoForm__label Date of birth
                                                                .row.no-gutters
                                                                    .col-3
                                                                        .icoForm__selectContainer
                                                                            select.icoForm__select(name='day')
                                                                                option(value='') Day   
                                                                                option(value='1') 1
                                                                                option(value='2') 2
                                                                                option(value='3') 3
                                                                                option(value='4') 4
                                                                                option(value='5') 5
                                                                                option(value='6') 6
                                                                                option(value='7') 7
                                                                                option(value='8') 8
                                                                                option(value='9') 9
                                                                                option(value='10') 10
                                                                                option(value='11') 11
                                                                                option(value='12') 12
                                                                                option(value='13') 13
                                                                                option(value='14') 14
                                                                                option(value='15') 15
                                                                                option(value='16') 16
                                                                                option(value='17') 17
                                                                                option(value='18') 18
                                                                                option(value='19') 19
                                                                                option(value='20') 20
                                                                    .col-5
                                                                        .icoForm__selectContainer.icoForm__selectContainer--margin
                                                                            select.icoForm__select(name='month')
                                                                                option(value='') Month
                                                                    .col-4
                                                                        .icoForm__selectContainer
                                                                            select.icoForm__select(name='year')
                                                                                option(value='') Year
                                                            
                                                            div.formControl
                                                                label.icoForm__label ZIP Code
                                                                input(type="text" name="zip" class="icoForm__input"  required)
                                                div.text-center
                                                    input.btn.btn--small(type='submit' value='Send')

                                                    
                                                        
                                                    
                                                

                                               
        include blocks/footerScripts.pug
