doctype html
html(lang='en')
    head
        include blocks/header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.container
            div.forSlideMenu
                div.cabinetHolder
                    
                    include blocks/sidebar.pug

                    div.workArea.jsWorkArea
                        div.mobileMenuBtn
                            button.cmn-toggle-switch.cmn-toggle-switch__htx
                                span toggle menu

                        div.messageTop Unfortunately your profile is not verified yet.

                        div.scrollHolder
                            div.content#buyTokens
                                
                                
                                

                                div.blockHolder 
                                    div.raisedContainer 
                                        div.basicBlock
                                            div.basicBlock__content
                                              
                                                .basicBlock__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                                .basicBlock__bonusText Referral bonus: 5.00%

                                                div.dataTable
                                                    table.dataTable__list
                                                        tr
                                                            th Referred person
                                                            th Bonus
                                                           

                                                        tr.dataTable__success
                                                            td jhfcsaiudgfcubryc7b467b32a5x6b4q2
                                                            td +230 ETH

                                                        tr.dataTable__success
                                                            td jhfcsaiudgfcubryc7b467b32a5x6b4q2
                                                            td +230 ETH
                                                           

                                                       

                                                        

                                    div.raisedContainer
                                        div.basicBlock.basicBlock
                                            div.basicBlock__content
                                                form(class="loginForm icoForm" action="#")
                                                                .basicBlock__text  Your referral link
                                                                div.formControl
                                                                    
                                                                    input(type="text" value="some-link" name="ethWallet" id="ethWallet" class="icoForm__input icoForm__input--canCopy")
                                                                    span.icoForm__copy(v-on:click="copyToBuffer") 
                                                               
                                
                                
                                
                               
                                
                                                        
                                                    
                                                

                                               
        include blocks/footerScripts.pug
