doctype html
html(lang='en')
    head
        include header.pug

    body
        div.gradientLeft
        div.gradientBottom
        div.gradientRight

        
        div.login.modalFrame.modalMessage
            div.modalFrame__title Verification was rejected by the administration due to incorrect data
            br
           
            
           

               


               
                   

                
            div.formControltext-center
                a(class="btn" href="#") Re-identify

           
                
          
        


        include footerScripts.pug
