@charset "UTF-8";
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

:-moz-submit-invalid {
  box-shadow: none; }

html {
  font-size: 16px; }
  @media (max-width: 1157px) {
    html {
      font-size: 13px; } }
  @media (max-width: 991px) {
    html {
      font-size: 10px; } }

body {
  font-family: 'PTSans', sans-serif;
  background-color: #f0f5f8; }

@media (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 100%; } }

.mobile-menu {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  z-index: 20;
  background: #333333; }
  .mobile-menu__phoneValue {
    display: block;
    font-size: 18px;
    color: #fff; }
    .mobile-menu__phoneValue:hover {
      text-decoration: none;
      color: #fff; }
  .mobile-menu__close {
    position: absolute;
    right: 10px;
    font-size: 24px;
    top: 5px; }
  .mobile-menu__title {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    padding-left: 10px;
    line-height: 75px;
    border-bottom: 1px solid #555; }

.mobile-menu-list {
  list-style-type: none;
  padding-left: 10px; }
  .mobile-menu-list__link {
    padding: 8px 0;
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #555; }
    .mobile-menu-list__link:hover {
      text-decoration: none;
      color: #fff; }

.menu-opener,
.menu-closer {
  font-size: 26px;
  padding-top: 5px; }

.menu-closer {
  position: absolute;
  top: 13px;
  right: 10px;
  color: #fff; }

.certification-query__input {
  background: #fff;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 10px;
  line-height: 36px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out; }
  .certification-query__input:focus {
    border-color: #007bff;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in; }

.thanks-popup {
  position: fixed;
  width: 450px;
  max-width: 100%;
  padding: 22px 80px;
  background: #FFFFFF;
  top: 50%;
  z-index: 110;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  margin-top: -200px;
  display: none; }

@media (max-width: 450px) {
  .thanks-popup {
    position: fixed;
    width: 450px;
    max-width: 100%;
    padding: 22px 80px;
    background: #FFFFFF;
    top: 20px;
    z-index: 110;
    margin-left: 0;
    left: 0;
    top: 0;
    margin-top: 20px; } }

.thanks-popup__close {
  width: 13px;
  height: 13px;
  background: url(/img/close.svg) no-repeat center center transparent;
  background-size: 13px 13px;
  position: absolute;
  top: 43px;
  right: 10px;
  cursor: pointer; }

.thanks-popup__title {
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px; }

.thanks-popup__text {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  margin-top: 39px; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(1, 0, 2, 0.76);
  top: 0;
  z-index: 100;
  display: none; }

.container {
  width: 100%;
  max-width: none; }

@media (min-width: 1800px) {
  .container {
    width: 1800px;
    max-width: 1800px; } }

/*-------------------------------------------------------------*/
.top-strip {
  background-color: #333333; }

.small-icon {
  background-color: #fcbe16;
  min-width: 34px;
  width: 34px;
  height: 34px;
  display: block;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  font-size: 18px; }

.header__info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__phones {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 50px 0 0; }
  @media (max-width: 767px) {
    .header__phones {
      display: none; } }

.header__email {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 50px 0 0; }
  @media (max-width: 1000px) {
    .header__email {
      display: none; } }

.header__phoneValue {
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin: 0 5px; }
  .header__phoneValue:hover {
    color: #ffcc00;
    text-decoration: none; }

@media (max-width: 1392px) {
  .header__hours {
    display: none; } }

.header__emailValue {
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin: 0 5px; }
  .header__emailValue:hover {
    color: #ffcc00;
    text-decoration: none; }

.header__callback {
  margin: 13px;
  margin-left: 20px;
  margin-left: auto; }
  @media (max-width: 767px) {
    .header__callback {
      display: none; } }

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__logo {
  padding: 13px 0; }
  @media (max-width: 767px) {
    .header__logo {
      width: 50%; } }

.header__logoImage {
  max-width: 200px;
  width: 100%;
  display: none; }
  @media (max-width: 767px) {
    .header__logoImage {
      display: block; } }

.header__mobileMenu {
  margin-left: auto;
  color: #fff;
  display: none; }
  @media (max-width: 767px) {
    .header__mobileMenu {
      display: block; } }

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .socialLinks__item {
    background-color: #7a7a7a;
    min-width: 34px;
    width: 34px;
    height: 34px;
    display: block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    font-size: 18px;
    margin: 0 7px;
    color: #282e3c; }

@media (max-width: 1618px) {
  .header .socialLinks {
    display: none; } }

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400; }
  .btn:hover {
    background: #ffffff;
    color: #333333; }

.topMenu {
  padding: 16px 0;
  background: #fff; }
  @media (max-width: 767px) {
    .topMenu {
      display: none; } }
  .topMenu__logoImage {
    width: 100%;
    max-width: 200px; }
    @media (max-width: 1216px) {
      .topMenu__logoImage {
        margin-left: 20px; } }
  .topMenu__aligner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .topMenu__list {
    margin-left: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 70%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    margin-bottom: 0; }
    @media (max-width: 1216px) {
      .topMenu__list {
        margin-left: 20px; } }
    @media (max-width: 767px) {
      .topMenu__list {
        display: none; } }
  .topMenu__link {
    color: #3a3f4b;
    font-size: 1rem;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-transform: uppercase; }

.mainBanner {
  background: url(../img/bg-main.jpg) no-repeat center center transparent;
  background-size: cover;
  padding: 80px 0;
  text-align: center; }
  .mainBanner__title {
    color: #ffffff;
    font-size: 3.75rem;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .mainBanner__subtitle {
    color: #ffffff;
    font-size: 1.5625rem;
    margin: 20px 0;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }

.btn--green {
  color: #fff !important;
  background-color: #2dcc70;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 16px;
  text-decoration: none !important;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #2dcc70; }
  .btn--green:hover {
    color: #2dcc70 !important;
    background-color: transparent; }

.content {
  padding: 54px 0; }

.leftMenu {
  background: #fff;
  padding: 35px; }
  .leftMenu__title {
    color: #47484a;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .leftMenu__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }
  .leftMenu__subMenu {
    display: none;
    list-style-type: none;
    padding-left: 20px; }
  .leftMenu__item {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 5px 0; }
  .leftMenu__link {
    color: #47484a;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400; }
  .leftMenu__item--active .leftMenu__subMenu {
    display: block; }

.specialLeft {
  background: url(../img/special-letf.jpg) center center transparent;
  width: 100%;
  padding: 35px;
  margin-top: 40px; }
  .specialLeft__title {
    color: #33cc66;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .specialLeft__text {
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 52px; }
  .specialLeft .btn {
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    padding: 7px 40px; }

.jsDropDown {
  cursor: pointer; }

.contentBlock {
  background: #fff; }

.contentBlock {
  padding: 38px 29px;
  color: #47484a;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 39px; }
  .contentBlock h1, .contentBlock h2 {
    color: #47484a;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .contentBlock h2 {
    color: #47484a;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .contentBlock p {
    color: #47484a;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; }
  .contentBlock a {
    color: #c4c4c4;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-decoration: underline; }
    .contentBlock a:hover {
      color: #282e3c; }

.whyWe {
  padding: 20px 0; }
  .whyWe__icon {
    width: 65px;
    height: 65px;
    background: #fcbe16;
    border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .whyWe__item {
    margin: 20px 0; }
  .whyWe__title {
    color: #47484a;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .whyWe__text {
    color: #302f2c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; }

.contentImage {
  width: 100%;
  margin: 20px 0; }

.footer {
  background: #333333;
  padding: 50px 0; }
  .footer__logo {
    margin-top: 20px;
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 40px; }
  .footer__logoImage {
    max-width: 200px;
    width: 100%; }
  .footer__copy {
    margin-top: 40px;
    color: #d6d6d6;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400; }
  .footer__phones {
    margin: 30px 0; }
  .footer__email {
    margin: 30px 0; }
  .footer__phoneValue {
    color: #d6d6d6;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin: 0 5px; }
    .footer__phoneValue:hover {
      color: #ffcc00;
      text-decoration: none; }
  .footer__emailValue {
    color: #d6d6d6;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin: 0 5px; }
    .footer__emailValue:hover {
      color: #ffcc00;
      text-decoration: none; }
  .footer__title {
    color: #ffffff;
    margin-top: 20px;
    width: 80%;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    margin-bottom: 40px;
    position: relative; }
    .footer__title:before {
      content: '';
      display: block;
      width: 25%;
      height: 1px;
      background: #98cb45;
      bottom: -15px;
      position: absolute;
      z-index: 10; }
    .footer__title:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      bottom: -15px;
      position: absolute; }
  .footer__text {
    color: #d6d6d6;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .search__input {
    width: 65%;
    border-radius: 0;
    border: none;
    padding: 0 15px; }
  .search .btn--search {
    width: 35%;
    cursor: pointer; }

.callback-popup {
  position: fixed;
  width: 450px;
  display: none;
  max-width: 100%;
  padding: 22px 50px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  top: 50%;
  z-index: 250;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  margin-top: -200px; }

@media (max-width: 450px) {
  .callback-popup {
    position: fixed;
    width: 450px;
    max-width: 100%;
    padding: 22px 20px;
    background: #FAFAFA;
    top: 20px;
    z-index: 1000;
    margin-left: 0;
    left: 0;
    top: 0;
    margin-top: 20px; } }

.callback-popup__close {
  width: 13px;
  height: 13px;
  background: url("/img/close.svg") no-repeat center center transparent;
  background-size: 13px 13px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }

.callback-popup__title {
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px; }

.callback-popup__text {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  margin-top: 39px; }

.form-group {
  margin-bottom: 30px;
  text-align: left; }

.form-control__title {
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
  color: #333333;
  display: block; }

.form-control-text {
  background: #FFFFFF;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 2px solid #aad8bd;
  line-height: 50px;
  font-size: 14px;
  padding: 0 18px;
  width: 100%; }

.form-control-text:focus {
  border-color: #2dcc70; }

.form-control__title-req {
  color: red; }

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .prices__item {
    margin-right: 2px; }
    @media (max-width: 420px) {
      .prices__item {
        width: 100%; } }
  .prices__title {
    color: #47484a;
    padding: 20px;
    font-size: 1.125rem;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    background-color: #e9edef;
    height: 100px; }
  .prices__values {
    padding: 20px; }

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .steps__item {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0; }
    @media (max-width: 767px) {
      .steps__item {
        width: 100%;
        text-align: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .steps__num {
    margin-right: 10px;
    color: #47484a;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    width: 65px;
    height: 65px;
    background: #fcbe16;
    border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .steps__text {
    color: #47484a;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }

.orderInline__input {
  width: 100%;
  margin: 10px 0; }

.orderInline .btn {
  width: 100%; }

@media (max-width: 767px) {
  body {
    padding-top: 61px; }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10; }
  .header__logo {
    width: 180px; } }

/*mobile menu show styles*/
.mobile-menu {
  left: -250px;
  position: fixed;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  width: 250px;
  display: block;
  overflow-y: scroll; }
  .mobile-menu .btn {
    margin-bottom: 6px; }

html {
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear; }

.pushed {
  overflow: hidden; }
  .pushed body {
    overflow: hidden; }
  .pushed .visibleContent {
    position: relative;
    left: 250px;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    overflow: hidden; }
  .pushed .mobile-menu {
    left: 0;
    position: fixed;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear; }

.visibleContent {
  left: 0;
  position: relative;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear; }

/*# sourceMappingURL=app.css.map */