.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$tablet992} {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.welcome__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  padding-top: 40px;

  @media #{$tablet992} {
    padding-right: 85px;
  }
}

.welcome__button-language {
  color: $grey1;
}

.welcome__wrapper {
  display: flex;
  justify-content: center;
}

.welcome__item {
  padding: 15px 15px 0;

  &--registration {
    border-right: 1px solid $yellow3;
  }
}

.welcome__link {
  color: $yellow3;

  &:hover {
    color: $yellow3;
    text-decoration: underline;
  }

  &--password {
    color: $grey1;

    &:hover {
      color: $grey1;
    }
  }
}

// Demo styles

.welcome__demo-list {
  max-width: 600px;
  margin: 0;
  margin-top: -170px;
  margin-bottom: 50px;
  padding: 15px;
  list-style: none;
  text-align: center;
  font-size: 1rem;

  @media #{$tablet992} {
    margin-top: -100px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.welcome__demo-item {
  color: $mainTextColor;

  a {
    color: $purple;
  }
}

.welcome__demo-start {
  position: relative;
  padding-left: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: $purple;
    border-radius: 50%;

    @media #{$tablet992} {
      top: 4px;
    }
  }
}

.welcome__demo-underlined {
  color: $purple;
  text-decoration: underline;
}
