.welcome__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  padding-top: 40px;
}

.welcome__button-language {
  color: $grey1;
}

.welcome__wrapper {
  display: flex;
}

.welcome__item {
  padding: 15px 15px 0;

  &--registration {
    border-right: 1px solid $yellow3;
  }
}

.welcome__link {
  color: $yellow3;

  &:hover {
    color: $yellow3;
    text-decoration: underline;
  }

  &--password {
    color: $grey1;

    &:hover {
      color: $grey1;
    }
  }
}

@media #{$tablet992} {
  .welcome__header {
    padding-right: 60px;
  }
  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}